.App {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main-container {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  overflow: scroll;
  height: 100%;
  padding: 0.5em;
  background-color: #eff2f6;
}

.unauthorized {
  text-align: center;
}

div.MuiContainer-root.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.MuiContainer-root.centered-container img {
  max-width: 3.5em;
}