.live {
  width: 100%;
}

.live .MuiBadge-root {
  width: 100%;
}

.live .MuiTypography-h6 {
  margin: 1em 0 0em;
}

.live a {
  text-decoration: none;
}

.live .MuiCardActions-root {
  display: flex;
  justify-content: space-between;
}

.live .MuiCardActions-root > div > * {
  margin: 0 0.3em;
}

.live h3 {
  padding: 0 0.4em;
}

.live .MuiBox-root .MuiPaper-root {
  display: flex;
  align-items: center;
}

.live .MuiBox-root.css-0 {
  display: inline-block;
  margin-bottom: 0.8em;
  width: 100%;
}

.live .MuiBox-root .MuiPaper-root img {
  max-width: 7.5em;
  margin: 0.5em;
}

.live .MuiBox-root .MuiPaper-root .MuiCardContent-root {
  flex: 1;
}

.live .MuiBox-root .MuiCardActions-root {
  display: flex;
}

.live .MuiBox-root .MuiCardActions-root > * {
  margin: 0 0.5em;
}

.live .organization-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.live .MuiBadge-root .MuiBadge-anchorOriginTopLeftRectangular {
  left: 2.5em;
  top: 0.4em;
  font-size: 2em;
  height: auto;
}

.not-expanded .organization-details {
  align-items: center;
  padding: 0 0.4em;
}

.live .MuiBox-root .MuiPaper-root.not-expanded img {
  max-width: 5em;
}

.live ul {
  margin: 0;
}