.Home {
  width: 97%;
}

.fair-list {
  width: 100%;
  overflow: scroll;
  display: flex;
  padding-bottom: 1.5em;
  text-align: justify;
}

.fair-list > * {
  flex: 0 0 auto;
  margin: 0.2em 0.7em;
}

.fair-list > a {
  color: #e8f1f2;
  text-decoration: none;
}

.fair-list .badge {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  background-color: #FFFFFFAF;
  border-bottom-left-radius: 15px;
}

.fair-list .MuiPaper-root {
  position: relative;
}

.fair-list .MuiCardContent-root {
  height: 140px;
}

.fair-list .content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.fair-list .title {
  width: 100%;
  position: absolute;
  bottom: 140px;
  background-color: #ffffffAF;
  padding: 0.3em 0.6em 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1em;
}