.chat-box div.MuiGrid-root.MuiGrid-container {
  flex: 0 1 auto;
  width: auto;
  background-color: white;
  padding: 0.5em 1em;
  margin: 0.25em;
  border-radius: 10px;
  flex-direction: column;
}

.chat-box a.MuiBox-root {
  background-color: #4797ec;
  padding: 0.5em;
}

.chat-box .MuiButtonBase-root.MuiFab-root {
  margin-left: 0.3em;
}

.chat-box li.MuiListItem-root div.MuiGrid-root.MuiGrid-item {
  flex: 0 1 auto;
  width: auto;
}

.chat-box .MuiBadge-anchorOriginTopRightRectangular {
  top: 2em;
  z-index: 2;
  right: 2em;
}

.chat-box .sender .MuiBadge-root {
  width: 100%;
}

.chat-box .sender .MuiListItemButton-root {
  align-items: center;
}

.chat-box .sender .MuiBadge-root .created-date {
  font-style: italic;
  text-align: right;
  font-size: 0.75em;
}

.chat-box .sender-text {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.chat-box .sender-text > * {
  margin: 0 0.2em;
}

.chat-box .sender-text > *:nth-child(2) {
  flex: 1 0 auto;
}

.chat-box .MuiPaper-root a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.chat-box .sender.MuiPaper-root {
  padding: 0;
  overflow: auto;
  max-height: 100%;
}

.chat-box .messages.MuiPaper-root {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-box .default {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.chat-box .messages > ul {
  flex: 1 1 auto;
  overflow: auto;
}
