.groups-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 90%;
}

.organization-card {
  display: flex;
}

.organization-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.organization-card-name {
  margin-bottom: 1em;
}

.organization-action-btns {
  display: flex;
  justify-content: flex-end;
}

.organization-details-header {
  width: 90%;
  margin: 0;
}

.organization-logo {
  width: 30%;
  padding-right: 1em;
}

.card {
  padding: "2em";
  margin: "1em"
}

.organization-details-wrapper {
  display: flex;
  flex-direction: column;
}

.filename {
  margin-left: 1em;
}

.applicants-resume-wrapper {
  display: flex;
}

.description-info {
  padding: 0.2em;
}