.groups-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 90%;
}

.organization-card {
  display: flex;
}

.organization-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.organization-card-name {
  margin-bottom: 1em;
}

.action-btns {
  display: flex;
  justify-content: space-between;
}

.organization-details-header {
  width: 90%;
}