.schedule {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.rbc-event-content > div.event {
  text-overflow: ellipsis;
  overflow: hidden;
}

.event-tooltips {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0.5em;
}

.event-tooltips a {
  text-decoration: none;
}

.tippy-content > div > h3 {
  padding: 0;
  margin: 0;
  margin-top: 0.3em;
}

.event-tooltips button {
  font-size: 0.9em;
}
