.schedule {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.schedule > div {
  width: 95%;
  height: 95%;
}

.rbc-event-content > div.event {
  text-overflow: ellipsis;
  overflow: hidden;
}

.event-tooltips {
  display: flex;
  justify-content: space-between;
  width: 100%;
}