.chat-box div.MuiGrid-root.MuiGrid-container {
  width: 75%;
}

.chat-box .MuiBadge-anchorOriginTopRightRectangular {
  top: 2em;
}

.chat-box .sender .MuiBadge-root {
  width: 100%;
}

.chat-box .sender .MuiListItemButton-root {
  align-items: center;
}

.chat-box .sender .MuiBadge-root .created-date {
  font-style: italic;
  text-align: right;
  font-size: 0.75em;
}

.chat-box .sender-text {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.chat-box .sender-text > * {
  margin: 0 0.2em;
}

.chat-box .sender-text > *:nth-child(2) {
  flex: 1 0 auto;
}
