.fair-details {
  margin: 0.5em;
}

.fair-details .MuiTypography-h6 {
  margin: 1em 0 0em;
}

.fair-details a {
  text-decoration: none;
}

.fair-details button.MuiButton-root {
  margin: 0 0.2em;
}

.fair-details .MuiCardActions-root {
  display: flex;
  justify-content: space-between;
}