.fair-details .MuiTypography-h6 {
  margin: 1em 0 0em;
}

.fair-details a {
  text-decoration: none;
}

.fair-details button.MuiButton-root {
  margin: 0 0.4em;
}

.fair-details .MuiCardActions-root {
  display: flex;
  justify-content: space-between;
}

.fair-details .MuiBox-root {
  margin-bottom: 1em;
}

.fair-details .MuiBox-root .MuiPaper-root {
  display: flex;
  align-items: center;
}

.fair-details .MuiBox-root .MuiPaper-root img {
  max-width: 7.5em;
  margin: 0.5em;
}

.fair-details .MuiBox-root .MuiPaper-root .MuiCardContent-root {
  flex: 1;
}

.fair-details .MuiBox-root .MuiCardActions-root {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.fair-details .organization-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
